/* Welcome View */

#lyrics-welcome {
	padding: 16px;
}

#lyrics-welcome > form {
	font-size: 20px;
	text-align: center;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#lyrics-welcome > form > * {
	margin: 16px 0px;
}

#lyrics-intro {
	margin: 32px;
	padding: 16px;
	background-color: #444;
	border-radius: 5px;
	max-width: 608px;
}

/* Loading View */

#lyrics-loading {
	color: #AAA;
	text-align: center;
	margin-top: 16px;
}

/* Results View */

#lyrics-results {
	width: 100%;
}

#lyrics-results-list {
	display: flex;
	flex-direction: column;
}

#lyrics-results-list > li {
	background-color: #3A3A3A;
	padding: 16px;
	margin: 16px 16px 0px 16px;
	border: 2px #AAA solid;
	border-radius: 5px;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: space-between;

}

#lyrics-results-list .track-name {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 8px;
}

#lyrics-results-list .track-artist {
	color: #CCC;
}

#lyrics-results-list button.track-select {
    width: 34px;
    height: 34px;
}

#lyrics-results-list button.track-select.selected {
	background-color: #161;
}

#lyrics-results-list button.track-select.selected:hover {
	background-color: #272;
}

/* Analysis View */

#lyrics-analysis {
	width: 100%;
}

#lyrics-analysis h2, #lyrics-results h2 {
	font-weight: 100;
	text-align: center;
	background-color: #733;
	color: #FFF;
	padding: 8px;
}

#lyrics-analysis .track-analysis li {
	padding: 8px;
	display: flex;
	justify-content: space-between;
}

#lyrics-analysis .track-analysis li:nth-child(odd) {
	background-color: #3A3A3A;
}

#lyrics-analysis .track-analysis li.column {
	flex-direction: column;
}

#lyrics-analysis .track-analysis li.column span:last-child {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#lyrics-analysis .track-analysis table {
	margin: 16px;
	border-radius: 5px;
}

#lyrics-analysis .track-analysis th {
	font-weight: bold;
}

#lyrics-analysis .track-analysis td, #lyrics-analysis .track-analysis th {
	padding: 8px;
	border: 1px #CCC solid;
}

#lyrics-analysis .track-analysis .track-lyrics {
	padding: 8px 0;
	font-family: 'Courier New', Courier, Consolas;
	text-align: center;
}

#lyrics-analysis .youtube-snippet {
	display: flex;
	padding: 16px;
	background-color: #404040;
	text-decoration: none;
	cursor: pointer;
}

#lyrics-analysis .youtube-snippet > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#lyrics-analysis .youtube-snippet .youtube-video-title {
	font-weight: bold;
	margin-bottom: 8px;
}

#lyrics-analysis .youtube-snippet .youtube-video-thumbnail {
	margin-right: 16px;
	border-radius: 5px;
}

/* Error View */

#lyrics-error {
	margin-top: 16px;
	color: #CCC;
	font-size: 18px;
	text-align: center;
	padding: 0px 16px;
}

/* Help Window */

#lyrics-help {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(20, 20, 20, .4);
	padding: 32px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#lyrics-help > div {
	position: relative;
	background-color: #FFF;
	color: #000;
	box-shadow: 0px 0px 3px 2px #AAA;
	border-radius: 5px;
	padding: 32px 16px;
	max-width: 650px;
	max-height: 650px;
}

#lyrics-help h2 {
	margin-bottom: 16px;
}

#lyrics-help-open {
	color: #DDD;
	background-color: inherit;
	padding: 0;
	margin: 0;
}

#lyrics-help-open:hover {
	color: #FFF;
	background-color: inherit;
}

#lyrics-help-close {
	position: absolute;
	top: -22px;
	right: -22px;
	box-sizing: content-box;
	height: 15px;
	width: 15px;
	color: #FFF;
	box-shadow: 0px 0px 3px 2px #733;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}