@media only screen and (min-width: 480px) {
	
	main {
		max-width: 900px;
		padding: 0px 8px;
	}

	#lyrics-results-list > li {
		background-color: inherit !important;
		box-shadow: 0 0 1px 1px #CCC;
		border-radius: 5px;
		margin: 8px 0px;
		cursor: pointer;
	}
	
	#lyrics-results-list > li:hover, #lyrics-results-list > li:focus {
		background-color: #444 !important;
	}

	#lyrics-results-list .track-meta {
		border-radius: 5px;
		padding: 8px;
	}

	#lyrics-results-list .track-meta > span {
		margin: 4px;
	}

}