@media only screen and (min-width: 480px) {
	
	main {
		max-width: 900px;
		padding: 0px 8px;
	}

	#lyrics-results-list > li {
		background-color: inherit !important;
		border: 1px #FFF solid;
		border-radius: 5px;
		margin: 8px 0px;
		cursor: pointer;
	}
	
	#lyrics-results-list > li:hover {
		background-color: #555 !important;
	}

	#lyrics-results-list .track-meta {
		border-radius: 5px;
		padding: 8px;
	}

	#lyrics-results-list .track-meta > span {
		margin: 4px;
	}

}